<script type='text/template' id='order-address-template'>
  <div id="checkout" data-hook="">  
  
  
  <div class="row" data-hook="checkout_header">
    <h1 class="columns three alpha" data-hook="checkout_title">Checkout</h1>
    <div class="columns thirteen omega" data-hook="checkout_progress">
      <ol class="progress-steps" id="checkout-step-address">
        <li class="current-first"><span>Address</span></li>
        <li class="next"><span>Delivery</span></li>
        <li class=""><span>Payment</span></li>
        <li class="last"><span>Complete</span></li>
      </ol>
    </div>
  </div>
  
  <div class="row" data-hook="checkout_content">
    <div class="columns alpha twelve" data-hook="checkout_form_wrapper">
      <form accept-charset="UTF-8" action="/store/checkout/update/address" class="edit_order" id="checkout_form_address" method="post">
        <div id="errorExplanation" class="errorExplanation" data-hook="" style='display:none'>
        </div>
        <div class="columns alpha six" data-hook="billing_fieldset_wrapper">
          <fieldset id="billing" data-hook="">
            <legend align="center">Billing Address</legend>
            <div class="inner" data-hook="billing_inner">
              <p class="field" id="bfirstname">
                <label for="order_bill_address_attributes_firstname">First Name</label><span class="required">*</span><br>
                <input class="required" id="order_bill_address_attributes_firstname" name="order[bill_address_attributes][firstname]" size="30" type="text">
              </p>
              <p class="field" id="blastname">
                <label for="order_bill_address_attributes_lastname">Last Name</label><span class="required">*</span><br>
                <input class="required" id="order_bill_address_attributes_lastname" name="order[bill_address_attributes][lastname]" size="30" type="text">
              </p>
              <p class="field" id="baddress1">
                <label for="order_bill_address_attributes_address1">Street Address</label><span class="required">*</span><br>
                <input class="required" id="order_bill_address_attributes_address1" name="order[bill_address_attributes][address1]" size="30" type="text">
              </p>
              <p class="field" id="baddress2">
                <label for="order_bill_address_attributes_address2">Street Address (cont'd)</label><br>
                <input id="order_bill_address_attributes_address2" name="order[bill_address_attributes][address2]" size="30" type="text">
              </p>
              <p class="field" id="bcity">
                <label for="order_bill_address_attributes_city">City</label><span class="required">*</span><br>
                <input class="required" id="order_bill_address_attributes_city" name="order[bill_address_attributes][city]" size="30" type="text">
              </p>
              <p class="field" id="bcountry">
                <label for="order_bill_address_attributes_country_id">Country</label><span class="required">*</span><br>
                <span id="bcountry-selection">
                  <select class="required" id="order_bill_address_attributes_country_id" name="order[bill_address_attributes][country_id]"></select>
                </span>
              </p>

                <p class="field" id="bstate">
                  <label for="order_bill_address_attributes_state">State</label><span class="required" id="bstate-required">*</span><br>
                  <span id="bcountry-selection">
                    <select class="required states" id="order_bill_address_attributes_state_id" name="order[bill_address_attributes][state_id]"></select>
                    <input class="required state_name" name="order[bill_address_attributes][state_name]" style="display:none">
                  </span>
                </p>

              <p class="field" id="bzipcode">
                <label for="order_bill_address_attributes_zipcode">Zip</label><span class="required">*</span><br>
                <input class="required" id="order_bill_address_attributes_zipcode" name="order[bill_address_attributes][zipcode]" size="30" type="text">
              </p>
              <p class="field" id="bphone">
                <label for="order_bill_address_attributes_phone">Phone</label><span class="required">*</span><br>
                <input class="required" id="order_bill_address_attributes_phone" name="order[bill_address_attributes][phone]" size="30" type="tel">
              </p>
            </div>
          </fieldset>
        </div>

        <div class="columns omega six" data-hook="shipping_fieldset_wrapper">
          <fieldset id="shipping" data-hook="">
            
            <legend align="center">Shipping Address</legend>
            <p class="field checkbox" data-hook="use_billing">
              <input id="order_use_billing" name="order[use_billing]" type="checkbox" value="1">
              <label for="order_use_billing" id="use_billing">Use Billing Address</label>
            </p>
            <div class="inner" data-hook="shipping_inner">
              <p class="field" id="sfirstname">
                <label for="order_ship_address_attributes_firstname">First Name</label><span class="required">*</span><br>
                <input class="required" id="order_ship_address_attributes_firstname" name="order[ship_address_attributes][firstname]" size="30" type="text">
              </p>
              <p class="field" id="slastname">
                <label for="order_ship_address_attributes_lastname">Last Name</label><span class="required">*</span><br>
                <input class="required" id="order_ship_address_attributes_lastname" name="order[ship_address_attributes][lastname]" size="30" type="text">
              </p>
              <p class="field" id="saddress1">
                <label for="order_ship_address_attributes_address1">Street Address</label><span class="required">*</span><br>
                <input class="required" id="order_ship_address_attributes_address1" name="order[ship_address_attributes][address1]" size="30" type="text">
              </p>
              <p class="field" id="saddress2">
                <label for="order_ship_address_attributes_address2">Street Address (cont'd)</label><br>
                <input id="order_ship_address_attributes_address2" name="order[ship_address_attributes][address2]" size="30" type="text">
              </p>
              <p class="field" id="scity">
                <label for="order_ship_address_attributes_city">City</label><span class="required">*</span><br>
                <input class="required" id="order_ship_address_attributes_city" name="order[ship_address_attributes][city]" size="30" type="text">
              </p>
              <p class="field" id="scountry">
                <label for="order_ship_address_attributes_country_id">Country</label><span class="required">*</span><br>
                <span id="scountry-selection">
                  <select class="required" id="order_ship_address_attributes_country_id" name="order[ship_address_attributes][country_id]"></select>
                </span>
              </p>

                <p class="field" id="sstate">
                  <label for="order_ship_address_attributes_state">State</label><span class="required" id="sstate-required">*</span><br> 
                </p>

              <p class="field" id="szipcode">
                <label for="order_ship_address_attributes_zipcode">Zip</label><span class="required">*</span><br>
                <input class="required" id="order_ship_address_attributes_zipcode" name="order[ship_address_attributes][zipcode]" size="30" type="text">
              </p>
              <p class="field" id="sphone">
                <label for="order_ship_address_attributes_phone">Phone</label><span class="required">*</span><br>
                <input class="required" id="order_ship_address_attributes_phone" name="order[ship_address_attributes][phone]" size="30" type="tel">
              </p>
            </div>
          </fieldset>
        </div>
        <hr class="clear">
        <div class="form-buttons" data-hook="buttons">
          <input class="continue button primary" name="commit" type="submit" value="Save and Continue">
        </div>

      </form>   
    </div>    
    <%= render "spree/templates/order/summary" %>
  </div>
</div>
<script>
$('.edit_order').validate()
</script>
</script>
