<script type='text/template' id='order-delivery-template'>
  <div id="checkout" data-hook="">  
  
  
  <div class="row" data-hook="checkout_header">
    <h1 class="columns three alpha" data-hook="checkout_title">Checkout</h1>
    <div class="columns thirteen omega" data-hook="checkout_progress"><ol class="progress-steps" id="checkout-step-delivery"><li class="completed-first"><span><a href="/store/checkout/address">Address</a></span></li>
<li class="current"><span>Delivery</span></li>
<li class="next"><span>Payment</span></li>
<li class="last"><span>Complete</span></li></ol></div>
  </div>
  
  <div class="row" data-hook="checkout_content">
    <div class="columns alpha twelve" data-hook="checkout_form_wrapper">
      <form accept-charset="UTF-8" action="/store/checkout/update/delivery" class="edit_order" id="checkout_form_delivery" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓"><input name="_method" type="hidden" value="put"><input name="authenticity_token" type="hidden" value="pqHabhMbSr3WwsSQqxXcH0YnbXpIehPeE6ooKIkSM5M="></div>
        <fieldset id="shipping_method" data-hook="">
  <legend align="center">Delivery</legend>
  <div class="inner" data-hook="shipping_method_inner">
    <div id="methods">
      

        <div class="shipment">
          <h3 class="stock-location" data-hook="stock-location">
            package from
            <strong class="stock-location-name" data-hook="stock-location-name">default</strong>
          </h3>

          <table class="stock-contents" data-hook="stock-contents">
            <colgroup>
              <col style="width: 10%;">
              <col style="width: 60%;">
              <col style="width: 10%;">
              <col style="width: 20%;">
            </colgroup>
            <thead>
              <tr><th>image</th>
              <th>name</th>
              <th>quantity</th>
              <th>price</th>
            </tr></thead>
            <tbody>
                <tr class="stock-item">
                  <td class="item-image"><img alt="Ruby on Rails Bag" src="/spree/products/23/mini/ror_bag.jpeg?1370651866"></td>
                  <td class="item-name">Ruby on Rails Bag</td>
                  <td class="item-qty">1</td>
                  <td class="item-price">$22.99</td>
                </tr>
            </tbody>
          </table>

          <h5 class="stock-shipping-method-title">Shipping Method</h5>
          <ul class="field radios shipping-methods">
              <li class="shipping-method">
                <label>
                  <input checked="checked" id="order_shipments_attributes_0_selected_shipping_rate_id_1" name="order[shipments_attributes][0][selected_shipping_rate_id]" type="radio" value="1">
                  <span class="rate-name">UPS Ground (USD)</span>
                  <span class="rate-cost">$5.00</span>
                </label>
              </li>
              <li class="shipping-method">
                <label>
                  <input id="order_shipments_attributes_0_selected_shipping_rate_id_2" name="order[shipments_attributes][0][selected_shipping_rate_id]" type="radio" value="2">
                  <span class="rate-name">UPS Two Day (USD)</span>
                  <span class="rate-cost">$10.00</span>
                </label>
              </li>
              <li class="shipping-method">
                <label>
                  <input id="order_shipments_attributes_0_selected_shipping_rate_id_3" name="order[shipments_attributes][0][selected_shipping_rate_id]" type="radio" value="3">
                  <span class="rate-name">UPS One Day (USD)</span>
                  <span class="rate-cost">$15.00</span>
                </label>
              </li>
          </ul>
        </div>

<input id="order_shipments_attributes_0_id" name="order[shipments_attributes][0][id]" type="hidden" value="7">

    </div>
  </div>
</fieldset>

<br>

<div class="form-buttons" data-hook="buttons">
  <input class="continue button primary" name="commit" type="submit" value="Save and Continue">
</div>

</form>    </div>    
      <div id="checkout-summary" data-hook="checkout_summary_box" class="columns omega four">
        <h3>Order Summary</h3>

<table data-hook="order_summary">
  <tbody>
    <tr data-hook="item_total">
      <td><strong>Item Total:</strong></td>
      <td><strong>$22.99</strong></td>
    </tr>
    </tbody><tbody id="summary-order-charges" data-hook="">
        <tr>
          <td>Shipping: </td>
          <td>$5.00</td>
        </tr>
        <tr>
          <td>North America 5.0%: </td>
          <td>$1.15</td>
        </tr>
    </tbody>
    <tbody><tr data-hook="order_total">
      <td><strong>Order Total:</strong></td>
      <td><strong><span id="summary-order-total">$29.14</span></strong></td>
    </tr>
  </tbody>
</table>

      </div>
  </div>

</div>
</script>