<script type='text/template' id='cart-template'>
  <div data-hook="outside_cart_form">
    <div data-hook="inside_cart_form">
      <div data-hook="cart_items" id="cart">
      </div>

      <div id="subtotal" data-hook="" class="columns sixteen alpha omega">
        <h5>Subtotal: <span class="order-total"><%%= display_item_total %></span></h5>
      </div>

      <div class="links columns sixteen alpha omega" data-hook="cart_buttons">
        <input id="order_coupon_code" name="order[coupon_code]" placeholder="Coupon code" size="10" type="text">
        <button class="primary" id="update-button">Update</button>
        <button class="button checkout primary" id="checkout-link" name="checkout">Checkout</button>
      </div>
    </div>
  </div>
</script>