<div class="row" data-hook="checkout_header">
  <h1 class="columns three alpha" data-hook="checkout_title"><%= t(:checkout) %></h1>
  <div class="columns thirteen omega" data-hook="checkout_progress">
    <ol class="progress-steps" id="checkout-step-address">
      <%% current_order_state = state %>
      <%% state = SpreeStore.Checkout.Controller.state || state %>
      <%% steps = order.attributes.checkout_steps %>
      <%% _.each(steps, function(step, index) {
        var css_classes = [];
        var link = false;
        var current_index = steps.indexOf(current_order_state)
        if (index < current_index) {
          css_classes.push('completed')
          link = true;
        }
        if (index == current_index + 1) {
          css_classes.push('next')
        }
        if (index == current_index) {
          css_classes.push('current')
        }
        if (index == 0) {
          css_classes.push('first')
        }
        if (index == steps.length-1) {
          css_classes.push('last')
        }
      %> 
        <li class="<%%= css_classes.join("-") %>">
          <span>
            <%% if (link) { %>
              <a href='#checkout/<%%= step %>'><%%= _.titleize(step) %></a>
            <%% } else { %>
             <%%= _.titleize(step) %>
            <%% } %>
          </span>
        </li>
      <%% }) %>
    </ol>
  </div>
</div>
