<div class="row" data-hook="checkout_header">
  <h1 class="columns three alpha" data-hook="checkout_title"><%= t(:checkout) %></h1>
  <div class="columns thirteen omega" data-hook="checkout_progress">
    <ol class="progress-steps" id="checkout-step-address">
      <li class="current-first"><span>Address</span></li>
      <li class="next"><span>Delivery</span></li>
      <li class=""><span>Payment</span></li>
      <li class="last"><span>Complete</span></li>
    </ol>
  </div>
</div>
