<div class="row" data-hook="checkout_header">
  <h1 class="columns three alpha" data-hook="checkout_title"><%= t(:checkout) %></h1>
  <div class="columns thirteen omega" data-hook="checkout_progress">
    <ol class="progress-steps" id="checkout-step-address">
      <%% _.each(order.attributes.checkout_steps, function(step, index) {
        var class_attrs = [];
        if (step == state) {
          class_attrs.push('current')
        }
        // Append 'next' to list of classes applied to the next state
        if (index == order.attributes.checkout_steps.indexOf(state)+1) {
          class_attrs.push('next')
        }

        // Append 'first' to the first element in the series
        if (index == 0) {
          class_attrs.push('first')
        }

        // Append 'last' to the last element in the series
        if (index == order.attributes.checkout_steps.length-1) {
          class_attrs.push('last')
        }
      %>
        <li class="<%%= class_attrs.join(" ") %>"><%%= _.titleize(step) %></li>
      <%% }) %>
    </ol>
  </div>
</div>
