<script type='text/template' id='order-payment-template'>
  <div id="checkout" data-hook="">  
  
    <%= render "spree/templates/checkout/header" %>

    <form class="edit_order columns alpha twelve">
      <div class="row" data-hook="checkout_content">
        <div data-hook="checkout_form_wrapper">
          <fieldset id="payment" data-hook>
            <legend align="center"><%= Spree.t(:payment_information) %></legend>
            <div data-hook="checkout_payment_step">
              <div id="errorExplanation" class="errorExplanation" data-hook="" style='display:none'>
                Content goes here.
              </div>
              <%% _.each(payment_methods, function(method) { %>
                <p>
                  <label>
                  <input class="payment-method" id="payment-method-<%%= method.id %>" data-payment-method-type='<%%= method.method_type %>' name="order[payments_attributes][][payment_method_id]" type="radio" value="<%%= method.id %>">
                    <%%= method.name %>
                  </label>
                </p>
              <%% }) %>

              <span id="payment-method-info" data-hook>
              </span>
              <br style="clear:both;" />
              <% if Spree::Promotion.with_code.count > 0 %>
                <p class='field' data-hook='coupon_code'>
                  <%= form.label :coupon_code %><br />
                  <%= form.text_field :coupon_code %>
                </p>
              <% end %>
            </div>
          </fieldset>

          <br class="space" />

          <div class="form-buttons" data-hook="buttons">
            <input class="continue button primary" name="commit" type="submit" value="Save and Continue">
            <span id='loading' style='display:none'><%= image_tag "loading.gif" %></span>
          </div>
        </div>
      </div>
    </form>

    <%= render "spree/templates/checkout/summary" %>
  </div>
</script>