<nav id="taxonomies" class="sidebar-item" data-hook="">
  <h6 class="taxonomy-root">Shop by Categories</h6>
  <ul class="taxons-list">
    <li><a href="/store/t/categories/bags">Bags</a></li>
    <li><a href="/store/t/categories/mugs">Mugs</a></li>
    <li><a href="/store/t/categories/clothing">Clothing</a></li>
  </ul>
  <h6 class="taxonomy-root">Shop by Brand</h6>
  <ul class="taxons-list">
    <li><a href="/store/t/brand/ruby">Ruby</a></li>
    <li><a href="/store/t/brand/apache">Apache</a></li>
    <li><a href="/store/t/brand/spree">Spree</a></li>
    <li><a href="/store/t/brand/rails">Rails</a></li>
  </ul>
</nav>