<script type='text/template' id='line-items-template'>
  <table id="cart-detail" data-hook="">
    <thead>
      <tr data-hook="cart_items_headers">
        <th class="cart-item-description-header" colspan="2">Item</th>
        <th class="cart-item-price-header">Price</th>
        <th class="cart-item-quantity-header">Qty</th>
        <th class="cart-item-total-header">Total</th>
        <th class="cart-item-delete-header"></th>
      </tr>
    </thead>
    <tbody id="line_items" data-hook="">
    </tbody>
  </table>
</script>